<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/cars/1">
           <img src="/images/carlogo.png" alt="car logo" class="image"> 
         </a>
           <div class="right-menu">
           
            <% if (user.currentUser) { %>
             
              <a href="/logout">Logout</a> 
            
          </nav>
        </header>
             
         
    <h1>404 Error</h1>
    <p>The requested URL was not found on this server</p>
</section>
</body>
</html>