<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
  <% if (user) { %>
   <a href="/logout"> logout</a>
  <% }  else { %>
  <a href="/create"> Create Acc </a> 
    <button>Veiw Cars</button>
    <a href="/login">Login</a>
  <% }%>
</body>
</html>