<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/newUser.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/cars/1">
            <img src="/images/carlogo.png" alt="car logo" class="image">
           </a>
          
        </nav>
        </header>
    <form action="/login" method="POST" id="form">
        <input type="text" placeholder="Username" name='username'>
        <input type="password" placeholder="Password" name='password'>
        <% if (loginFlag) { %>
         <p>Username or Password did not match</p>
        <% } %>
        <button type="submit">Log In</button>
       
       
        <form action="/create" method="post">
        <button type="submit">Register</button>
        
    </form>

    </form>
</body>
</html>