<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/newUser.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/newUser.css">
 
    <title>Document</title>
</head>
<body>
   <div class="background"></div>
    <form action="/create" method="post" id="formRegister">
        <label >Register</label>
        <input type="text" name="username" minlength="1" maxlength="21" placeholder="username" id="username" >
        
        <input type="password" name="password"  placeholder="password" id="password" >
    
        <input type="number" name="phone" placeholder="Phone"  id="phone" >
        <% if (userFlag) { %>
            <p>Username has been taken</p>
            <% } %>     
        <% if (passwordFlag) { %>
            <p>The password must be  at least</br> 3 charecters long</p>
            <% } %>
        <% if (phoneFlag) { %>
            <p>The phone number that you have </br> entered is taken or incorrect </p>
            <% } %>
        
        <button id="create" type="submit" > Create your account</button>

    </form>



</body>

</html>