<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <input type="text" name="username" placeholder="username" id="username" >
        <input type="password" name="password"  placeholder="password" id="password" >
        <input type="number" name="phone" placeholder="Phone"  id="phone" >

        <button id="submit" type="button" > Submit</button>

    </form>



</body>

</html>