<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile page of <%=userProfile.Username%></h1>
    <a href="/cars/new">Add New car</a>
    
</body>
</html>