<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            
            <img src="/images/carlogo.png" alt="car logo" class="image">
           
          
        </nav>
        </header>
        <h1>Edit <%= car.name %> </h1>
        <form action="/cars/<%= car._id %>?_method=PUT " method="post">
            <p>
                Name: <input type="text" name="name" value="<%= car.name %> " />
             </p>
             <p>
               Price: <input type="number" name="price" placeholder="Price"  />
             </p>
             <p>
                Year: <input type="number" min="1900" max="2020" name="year" placeholder="year" />
             </p>
             <p>
                Mileage: <input type="number" name="mileage" placeholder="mileage" required />
             </p>
             <p>
                Description: <textarea name="description" ></textarea>
             </p>
             <p>
                 <input type="submit" value="Update">
             </p>
        </form>
</body>
</html>