*{
    margin: 0;
    padding: 0;
}

.chats{
    position: absolute;
    right: 20px;
    bottom: 40px;
    border-radius: 30px;
    font-size: 20px;

}

#mainchat{
    color: black;
    background-color: #00909E;
    border-radius: 30px;
    border: 1px solid black;
    margin-left: 10px;
}

body{
    background-color: white;
}

.text{
    font-size: 20px;
    text-indent:10px;
    
}
textarea,input{
    display: block;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-right: 120px;
    border: 1px solid black;
}

h2{
    color: whitesmoke;
}
.chats .submit{
    font-size: 18px;    
    padding: 5px;
    margin: 20px;
    cursor: pointer;
}