body{
    height: 100vh;
    margin: 0;
    padding: 0;
    
  }
  header {
    
      height: 50px;
      background-color: #142850;
  }
  

header img{
    margin-left: 2px;
    width: 100px;
    height: 50px;
    float: left;
    
}
.right-menu {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
.right-menu a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin: 0 10px;
}
.right-menu a:hover{
    background-color: white;
    color: #EEA200;
    padding: 10px 10px;
    
}
.advertise {
    height: 270px;
    background-image: url('chev.png');
    background-size: cover;
}
.container1 {
   
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* height: calc( 100vh - 210px ); */
    height: 210px;
    background-color: #00909E transparent;
}

h2{
    text-align: center;
}
.footer{
    margin-top: 10px;
    background-color: #DAE1E7;
    height: 60px;
    
}

.car{
   border: 1px solid grey;
    text-align: center;
    background-color: #DAE1E7;

}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.formnew{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin-top: 10px;  
    background-color: whitesmoke;
}

.submit{
    margin-left: 80px;
}

.editform{
    text-align: center;
}
.profileshow{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* height: calc( 100vh - 210px ); */
    margin-left: 20px;
    background-color: #00909E transparent;
}
.addcar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.addcar .delete {
    margin: 15px;
}