body{
    height: 100vh;
    margin: 0;
    padding: 0;
    
  }
  header {
    
      height: 50px;
      background-color: #142850;
  }
  

header img{
    margin-left: 2px;
    width: 100px;
    height: 50px;
    float: left;
    
}
.right-menu {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
.right-menu a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin: 0 10px;
}
.right-menu a:hover{
    background-color: white;
    color: #EEA200;
    padding: 10px 10px;
    text-decoration: none;
    
}
.right-menu button{
  position: absolute;
  top: 20px;
  right: 150px;
  background-color: #142850;
  color: white;
  border-style: none; 
  cursor: pointer;

}
.right-menu button:hover {
    background-color: white;
    color: #EEA200;
    padding: 3px;
}
.advertise {
    height: 270px;
    background-image: url('toyotanav.png');
    background-size: cover;
}
.container1 {
   
    margin-top: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85vw;
    /* height: calc( 100vh - 210px ); */
    height: 210px;
    background-color: #00909E transparent;
}

h2{
    text-align: center;
}
.footer{
    margin-top: 10px;
    background-color: #DAE1E7;
    height: 60px;
    
}

.car{
   border: 1px solid grey;
    text-align: center;
    background-color: #DAE1E7;
    margin-top: 10px;
    margin-right: 10px;
   
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.formnew{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin-top: 10px;  
    background-color: whitesmoke;
}

.submit{
    margin-left: 80px;
}

.editform{
    text-align: center;
}
.profileshow{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* height: calc( 100vh - 210px ); */
    margin-left: 20px;
    
    background-color: #00909E transparent;
}
#edit{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;  
}
#add{
    border: 1px solid black;
    padding: 4px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}
.addcar{
    margin-left: 10px;

}
.addcar  {
    margin: 15px;
}

.pagination {
   
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.sort {
    position: absolute;
    right: 40px;
    bottom: 190px;
   
}
#search{
    padding: 10px;
    margin-left: -10px;
   
}
#search button {
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}
#sortby{
    padding: 3px;  
    cursor: pointer;
    border-radius: 4px;
}
#submit{
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(227, 227, 227);
}
.showpage {
    margin-left: 30%;
}
.showpage li{
    list-style-type: none;
    
}
.list{
    width: 300px;

    font-size: 20px;
    position: absolute; 
    right: 200px;
    top: 150px; 
    list-style-type: none;
   
   
}
.desc{
    font-size: 20px;
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}
.thumbnail {
   
   width: 500px;
   height: 450px;
   margin-left: 250px;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   

  

}
.smallthumb{
 
    width: 100%;
    margin: 0;
    height: 23%;
    
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    /* align-content: center;
    justify-content: center; */

    
    
   
}